<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noberto.br.ufrn.vendapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PrincipalActivity"
            android:label="VendApp" >
        </activity>
        <activity android:name=".FormClienteActivity" >
        </activity>
        <activity android:name=".ExibirClientesActivity" >
        </activity>
        <activity
            android:name=".FormProdutoActivity"
            android:label="@string/title_activity_form_produto" >
        </activity>
        <activity
            android:name=".ExibirProdutosActivity"
            android:label="@string/title_activity_exibir_produtos" >
        </activity>
        <activity
            android:name=".Splash"
            android:label="VendApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VendaItemActivity" >
        </activity>
        <activity
            android:name=".ExibirVendasActivity"
            android:label="@string/title_activity_exibir_vendas" >
        </activity>
        <activity
            android:name=".FormVendaActivity"
            android:label="@string/title_activity_form_venda" >
        </activity>
        <activity android:name=".ExibirProdutoVendaActivity" >
        </activity>
        <activity android:name=".DetalheVendaActivity" >
        </activity>
    </application>

</manifest>
